.navbar{
    background-color: blueviolet;
}
.quem-somos{
    background-color: cyan;
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color:lightcoral;
    color:white;
}
.bg-footer{
    background-color: black;
    color:white;
}